$common-color: #38c55f;
$button-color: #38c55f;
$mat-button-color: #36C95F;

.mat-card-title {
    font-size: 23px;
    font-weight: 600;
    color: #000;
    font-family: 'poppins', sans-serif;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    word-wrap: break-word;

}